
/* FONTS */
@font-face {
    font-family: "untitled-font-1";
    src:url("../fonts/untitled-font-1.eot");
    src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'HelveticaNeue-Regular';
    src: url('../fonts/HelveticaNeue-Regular.eot');
    src: url('../fonts/HelveticaNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Regular.woff') format('woff'),
    url('../fonts/HelveticaNeue-Regular.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Regular.svg#HelveticaNeue-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

/* ICONS */
[data-icon]:before {
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-delete-icon:before {
    content: "\61";
}
.icon-electric:before {
    content: "\62";
}
.icon-arrow-next:before {
    content: "\64";
}
.icon-arrow-next-wizard:before {
    content: "\65";
}
.icon-arrow-prev:before {
    content: "\66";
}
.icon-arrow-prev-wizard:before {
    content: "\67";
}
.icon-benefit-info-tooltip:before {
    content: "\63";
}
.icon-checkbox-box:before {
    content: "\68";
}
.icon-checkbox-icon:before {
    content: "\69";
}
.icon-green-icon:before {
    content: "\6a";
}
.icon-agent-icon:before {
    content: "\6c";
}
.icon-benefit-info-tooltip-1:before {
    content: "\6b";
}
.icon-arrow-detail-collapse:before {
    content: "\6d";
}
.icon-arrow-detail-expand:before {
    content: "\6e";
}
.icon-file-icon:before {
    content: "\6f";
}
.icon-alert-icon:before {
    content: "\70";
}
.icon-community-icon:before {
    content: "\71";
}
.icon-manager-icon:before {
    content: "\72";
}
.icon-reccomended-icon:before {
    content: "\73";
}
.icon-renew-icon:before {
    content: "\74";
}
.icon-special-icon:before {
    content: "\75";
}
.icon-star:before {
    content: "\76";
}
.icon-filter-expand:before {
    content: "\77";
}
.icon-filter-collapse:before {
    content: "\78";
}

.icon-arrow-detail-expand, .icon-arrow-detail-collapse {
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}
.icon-file-icon {
    color: #dc291e;
    display: inline-block;
    line-height: 23px;
    vertical-align: top;
    margin-right: 5px;
}
.icon-arrow-prev {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 13px;
}
.icon-green-icon {
    margin-right: 7px;
    font-size: 27px;
    vertical-align: middle;
    color: #42ad00;
    position: absolute;
    left: 20px;
    top: 17px;
}
.icon-electric {
    color: #dc291e;
    font-size: 26px;
    vertical-align: middle;
    margin-top: 1px;
    display: inline-block;
}
.icon-agent-icon {
    font-size: 41px;
    vertical-align: middle;
    margin-right: 6px;
}
.icon-electric.icon-electric--big {
    font-size: 36px;
    margin: -1px 0 0 8px !important;
    line-height: 56px;
}


/*html {
  background: #efefef;
}*/
html, body {
    height: 100%;
}
body {
    background: #efefef;
    overflow-x: hidden;
    min-width: 320px;
    font-family: 'HelveticaNeue-Regular', Helvetica, Arial, sans-serif;
}
ul {
    list-style:none;
}
*:focus{
    outline: none !important;
}
.offers {
    opacity: 0;
}
.offers.offers--show {
    transition: opacity 0.5s;
    opacity: 1;
}

/* FRAMEWORK OBJECTS */
.aep-btn {
    border: none;
    padding: 9px 18px;
    color: #000;
    background-color: #bababa;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}
.aep-btn--rounded {
    border-radius: 30px;
}
.aep-btn--red {
    color: #fff;
    background: #dc291e;
}
.aep-btn--white {
    color: #dc291e;
    background: #fff;
}
.aep-logo {
    margin: 13px 0 0 20px;
}



/* OFFERS */
.offers {
    height: 100%;
    margin: 0;
    padding: 0 0 180px 0;
    min-width: 1024px;
    width: 100%;
    /*padding: 207px 0 180px 0;*/
}
.offers__error-message {
    margin: 55px 0 45px 0;
    padding: 30px 30px 30px 90px !important;
    background: #fff;
    border: 3px solid #ffd800;
    font-size: 14px;
    line-height: 19px;
    color: #333;
    position: relative;
}
.offers__error-message--big {
    width: 100%;
    margin: 140px 0;
    font-size: 36px;
    color: #a2a5a4;
    font-weight: 400;
    opacity: 0.8;
}
.error__icon {
    color: #5a4c00;
    font-size: 40px;
    background: #ffd800;
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.offers__error-message a {
    color: #dc291e;
}
.error__icon .display-table {
    height: 100%;
}


/* OFFERS HEADER */
.offers__header {
    box-sizing: initial;
    background: #fff;
    padding: 0 !important;
    width: 100%;
    z-index: 2;
}
.offers__header--margin {
    margin-bottom: 67px;
}
.offers__header-top {
    padding-bottom: 9px;
    border-bottom: 1px solid #898989;
    box-shadow: 0px 1px 1px 1px #b8b8b8;
    margin-bottom: 1px;
}
.offers__header-bottom {
    height: 64px;
    border-bottom: 1px solid #898989;
    box-shadow: 0px 1px 1px 1px #b8b8b8;
    background: white;
    z-index: 2;
    transition: top 0.4s;
    width: 100%;
    position: relative !important;
    /*top: 103px;*/
}
.offers__header-bottom--fixed {
    position: fixed !important;
    left: 0;
    top: 0;
}


/* OFFERS FOOTER */
.offers__footer {
    /*display: none;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 58px;
    z-index: 2;
    border-top: 1px solid #898989;
    box-shadow: 0px 0px 1px 1px #b8b8b8;
    background: #fff;
}
.offers__back-link {
    font-size: 13px;
    padding: 20px 0 0px 0 !important;
}
.offers__incentives-link {
    font-size: 14px;
    margin: 10px 0 0 20px;
}
.offers__btn-next, .offers__btn-prev {
    height: 41px;
    border-radius: 30px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    padding-top: 7px;
    transition: all 0.4s;
}
.offers__btn-next .icon, .offers__btn-prev .icon{
    font-size: 17px;
    position: relative;
    z-index: 2;
    top: 3px;
}
.offers__btn-next .icon {
    right: -25px;
}
.offers__btn-prev .icon {
    left: -35px;
}
.rotated-block {
    position: absolute;
    z-index: 1;
    transform: rotate(-60deg);
    transition: all 0.4s;
}
.offers__btn-next {
    text-align: left;
    padding-left: 30px;
    padding-right: 45px;
    background: #dc291e;
    color: #fff;
}
.offers__btn-next--disabled, .offers__btn-prev--disabled {
    background: #e5e5e5;
}
.offers__btn-next--disabled .rotated-block, .offers__btn-prev--disabled .rotated-block {
    background: #d6d6d6 !important;
}
.offers__btn-next--disabled .icon, .offers__btn-prev--disabled .icon {
    color: #c6c6c6;
}
.offers__btn-next:hover:not(.offers__btn-next--disabled) {
    background: #b62218;
}
.offers__btn-next .rotated-block{
    width: 90px;
    height: 113px;
    right: -45px;
    top: -11px;
    background: #b02219;
}
.offers__btn-next:hover .rotated-block{
    background: #7e201a;
}
.offers__btn-prev {
    color: #dc291e;
    background: #e6e6e6;
    text-align: right;
    padding-right: 20px;
    padding-left: 55px;
    display: inline-block;
    text-decoration: none;
    line-height: 28px;
}
.offers__btn-prev:hover {
    background: #bebebe;
}
.offers__btn-prev .rotated-block{
    width: 106px;
    height: 150px;
    top: -81px;
    left: -67px;
    background: #d7d7d7;
}
.offers__btn-prev:hover .rotated-block{
    background: #b2b2b2;
}


/* OFFERS MENU */
.offers__menu {
    background: #efefef;
    height: 54px;
    padding: 10px 1rem 0 1rem !important;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0px 1px 1px 1px #b8b8b8;
    z-index: 1;
}
.offers__list-header {
    padding: 0 16px !important;
}
.offers__list-container {
    padding: 15px 20px !important;
}
.ui.column.grid>[class*="eleven wide"].column.offers__filters.offers__list-container--bigger,
.ui.grid>.column.row>[class*="eleven wide"].column.offers__filters.offers__list-container--bigger, .ui.grid>.row>[class*="eleven wide"].column.offers__filters.offers__list-container--bigger,
.ui.grid>[class*="eleven wide"].column.offers__list-container--bigger {
    transition: width 0.4s 0.4s, margin 0.4s 0.4s;
    margin-left: 1%;
    width: 77.13% !important;
}



/* OFFERS FILTERS */
.offers__filters {
    padding: 20px !important;
    background: #dfdddd;
    border-right: 1px solid #c0c0c0;
    transition: all 0.4s;
    /*transition: transform 0.4s, width 0.4s 0.4s;*/
}
.ui.column.grid>[class*="two wide"].column.offers__filters.is-closed,
.ui.grid>.column.row>[class*="two wide"].column.offers__filters.is-closed, .ui.grid>.row>[class*="two wide"].column.offers__filters.is-closed,
.ui.grid>[class*="two wide"].column.is-closed {
    transform: translateX(-100%);
    overflow: hidden;
    width: 0 !important;
}
.offers__filters *{
    transition: opacity 0.4s 0.4s;
}
.offers__filters.is-closed *{
    transition: opacity 0.2s;
    opacity: 0;
}
.offers__filters-clone {
    width: 3.12%;
    /*width: 50px;*/
    position: absolute;
    left: 0px;
    top: 126px;
    height: 100%;
    padding: 0 !important;
    margin: 0;
    z-index: 0;
    background: #dfdddd;
    border-right: 1px solid #c0c0c0;
    transition: all 0.4s;
    /*transition-delay: 0.4s;*/
}
.offers__filters-clone.is-closed {
    transform: translateX(-100%);
}

.offers__filters-title {
    font-size: 18px;
    color: #222;
    padding: 0 0 15px 40px;
    border-bottom: 2px solid #dc291e;
}
.offers__filters-header {
    position: relative;
}
.offers__filters-switch {
    color: #dc291e;
    font-size: 29px;
    padding: 4px;
    border:none;
    background: transparent;
    position: absolute;
    left: -4px;
    top: -8px;
    transition: left 0.2s, right 0.2s;
}

.offers__filters-clone .offers__filters-switch{
    position: absolute;
    left: 50%;
    top: 23px;
    transform: translate(-50%);
}

.offers__filters-switch.is-closed {
    transform: rotate(180deg);
    left:auto;
    right: 0;
}

.filter-component {
    margin-bottom: 40px;
}

.filter-component h3 {
    font-size: 14px;
    color: #222;
    font-weight: 700;
    margin-bottom: 20px;
}

.filter-component label {
    font-size: 12px !important;
    line-height: 21px;
    color: #222;
    text-transform: capitalize;
}
.filter-component li {
    margin-bottom: 17px;
    display: block !important;
}

.c-filter {
    margin-bottom: 40px;
}
.c-filter:last-of-type {
    border-bottom: 1px solid rgba(34, 34, 34, 0.34);
    padding-bottom: 7px;
}
.c-filter__title {
    font-size: 14px;
    color: #222;
    font-weight: 700;
    margin-bottom: 20px;
}
.c-filter__title--small {
    font-size: 12px;
    color: rgba(34, 34, 34, 0.64);
    font-weight: 600;
    text-transform: lowercase;
}
.c-filter__title:first-of-type {
    margin-top: 20px;
}
.c-filter__name {
    font-size: 12px !important;
    line-height: 21px;
    color: #222;
    text-transform: capitalize;
}
.c-filter__row {
    margin-bottom: 17px;
    display: block !important;
}


/* FILTER PRICE */
.c-filter__price-block {
    float: left;
    margin-bottom: 5px;
}
.c-filter__price-block:first-of-type {
    margin-right: 5px;
}
.c-filter__price {
    font-size: 14px;
    padding: 7px;
    width: 72px;
    height: 38px;
    background: #efefef;
    border: 1px solid #6f6e6c;
}
.c-filter__price--border {
    border: 1px solid #dc291e;
}
.c-filter__subtitle {
    font-size: 12px;
    color: rgba(34, 34, 34, 0.64);
    font-weight: 600;
    margin-bottom: 7px;
    display: block;
}
/* CHECKBOX BOX */
.ui.checkbox .box:before,.ui.checkbox label:before{
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
/* CHECKBOX CHECKMARK BOX */
.ui.checkbox .box:after,.ui.checkbox label:after{
    background:#222;
    color:#fff;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
/* CHECKBOX CHECKMARK */
.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
    color: #fff !important;
}
/* CHECKBOX LABEL */
.ui.checkbox .box, .ui.checkbox label {
    padding-left: 30px;
}
/* LABEL WHEN INPUT IS CHECKED */
.ui.checkbox input:checked + label {
    font-weight: 700;
}


/* APPLIED FILTERS */
.c-filters-applied {
    border-top: 1px solid #6c6f70;
    margin-top: 30px;
    border-bottom: 1px solid #6c6f70;
    padding: 10px 0 !important;
}
.c-filters-applied__title {
    font-size: 14px;
    font-weight: 700;
    margin: 0 8px 0 0;
    color: #6c6f70;
    display: inline-block;
    vertical-align: middle;
}
.c-filters-applied__tag {
    padding: 5px 35px 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    border: 1px solid #a2a5a4;
    background: #e5e5e5;
    margin: 0 10px 5px 0;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
}
.c-filters-applied__remove {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px !important;
    font-weight: bold;
    position: absolute;
    right: 3px;
    top: 3px;
    line-height: 18px;
    cursor: pointer;
    color: #a2a5a4;
}
.c-filters-applied__clear-all {
    cursor: pointer;
    font-size: 15px;
}



.offers__retention-offers-btn {
    box-shadow: 1px 2px 2px 2px #b8b8b8;
    font-size: 12px;
}
.offers__head {
    background: #fff;
}
.offers__main-title {
    font-size: 24px;
    color: #dc291e;
    padding: 20px 0 9px 0 !important;
}
.offers__title {
    padding: 30px 0 0 0 !important;
    font-size: 13px;
}
.offer__title h2, .offer__title h2 * {
    font-size: inherit !important;
    color: inherit !important;
    background: inherit !important;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    display: initial;
}
.offers__list-items {
    border-top: 1px solid #000;
    margin-top: 10px;
    padding: 0;
}
.ui.grid.offers__list-item {
    position: relative;
    background: #fff;
    margin: 10px 0 0 0;
    border: 1px solid #bababa;
    border-radius: 7px;
    padding: 0 7px 0 0;
    transition: background 0.4s, border 0.4s;
    cursor: move;
    cursor: -webkit-grab;
}

.ui.grid.offers__list-item.withTag {
    margin: 20px 0 0 0;
}

.ui.grid.offers__list-item--selected {
    background: #f2e6e5;
    border-color: #ff1731;
}

/* GREEN OFFER */
.offer__green {
    width: 5px;
    height: 70px;
    position: absolute;
    left: 5px;
    padding: 0 !important;
    top: 5px;
    border-radius: 20px;
}
.offer__green--true {
    background: #42ad00;
}
.offer__green--false {
    background: #dc291e;
}
/* SELECTED OFFER */
.offer__selected {
    border: 1px solid #dc291e;
    border-radius: 35px;
    padding: 3px;
    font-size: 14px;
    width: 276px;
    height: 45px;
    margin: 8px 10px 0 0 !important;
    position: relative;
}
.offer__selected span {
    padding: 0 !important;
    font-size: 12px;
}
.offer__selected-price {
    font-size: 23px !important;
    margin-top: 2px;
    display: inline-block;
}
.offer__selected-price-text {
    font-size: 9px !important;
    margin-top: -2px;
    display: block;
}
.offer__selected  span.offer__selected-title{
    margin: 4px 0 4px 3px;
    padding: 0 0 3px 0 !important;
    border-bottom: 1px solid #dc291e;
    display: block;
    width: 100px;
}
.offer__selected-clean {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px !important;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 11px;
    line-height: 24px;
    cursor: pointer;
    color: #dc291e;
}


/* OFFER DETAIL */
.ui.grid.offer-details {
    width: 100%;
    padding: 0 20px;
    margin: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.45s ease-out;
}
.ui.grid.offer-details--open {
    max-height: 500px;
    transition: max-height 0.50s ease-in;
}
.offer-details__link {
    font-size: 12px;
    padding-bottom: 7px;
    display: inline-block;
}
.offer-details__title {
    color: #6e6f70;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    clear: both;
}
.offer-details__text {
    font-size: 12px;
    color: #333;
}
.ui.grid.offers__list-item .column.offer-details__row {
    padding-top: 5px !important;
    margin-top: 5px;
}
.ui.grid.offers__list-item .column.offer-details__row .display-table {
    height: 57px;
}
.ui.grid.offers__list-item .column.offer-details__row--border {
    border-top: 1px solid #d0cfcb;
}
.ui.grid.offer-details .offer__price {
    color: #6e6f70;
}
.ui.grid.offers__list-item .column{
    padding: 0 !important;
}


/* OFFER TITLE */
.offer__title {
    font-size: 12px;
    line-height: 15px;
    vertical-align: middle;
    padding-top: 16px;
    height: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 22px;
    cursor: help;
}
.offer__title--padding {
    padding-left: 52px;
}
.offer__subtitle {
    display: block;
    font-weight: 700;
    font-size: 10px;
    margin: 1px 0px 0 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: help;
}
.offer__subtitle--padding {
    padding-left: 31px;
}


/* OFFER BTN */
.offer__btn {
    margin: 3px 14px 0 0;
    box-shadow: 1px 2px 8px 2px #b8b8b8;
    border: 1px solid transparent;
    transition: all 0.4s;
}
.offer__btn:hover {
    background: #af2524;
    box-shadow: 1px 2px 6px 3px #a9a9a9;
}
.offer__btn--selected {
    background: #a12020;
    box-shadow: none;
}
.offer__more-details {
    font-size: 12px;
    display: block;
    clear: both;
    margin-top: 12px;
    margin-left: 22px;
    cursor: pointer;
}



.offers__form {
    padding-bottom: 58px !important;
    max-width: 100%;
    margin: 0 !important;
}


/* OFFER TERMS */
.offer__terms {
    font-size: 24px;
    width: 100%;
    display: block;
    font-weight: 700;
}
.offer__terms.small-terms {
    font-weight: 400;
    font-size: 13px;
}
.offer__terms-text {
    font-size: 13px;
    width: 100%;
    display: block;
}


/* OFFER ETF */
.offer__etf {
    font-size: 24px;
}
.offer__etf-text {
    font-size: 11px;
    display: block;
    clear: both;
    padding: 0 10px;
}
.offer__etf-symbol {
    font-size: 13px;
    vertical-align: middle;
}
.offer__etf--gray {
    color: #6e6f70;
}


/* OFFER SUMMER */
.offer__summer {
    font-size: 13px;
    /*margin-top: -10px;*/
    color: #a2a7a5;
    margin-bottom: 2px;
}
.offer__summer--true {
    color: #00a3e1;
}


/* OFFER PRICE */
.offer__price {
    font-size: 32px;
    display: block;
    line-height: 31px;
    margin-top: -3px;
}
.offer__price-text {
    font-size: 11px;
    margin: -2px 0;
}
.offer__price-symbol {
    font-size: 18px;
    vertical-align: middle;
}
.offer__price-text--bottom {
    margin-top: -6px;
}
.offer__benefits {
    font-size: 13px;
}


/* OFFER TOOLTIP */
.offer__info {
    width: 20px;
    height: 17px;
    color: #000;
    position: absolute;
    text-align: center;
    font-size: 20px;
    cursor: help;
    display: inline;
    vertical-align: middle;
    margin-left: 6px;
}
.offer__tooltip {
    height: 122px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #000;
    padding: 15px 11px;
    color: #000;
    position: absolute;
    z-index: 3;
    margin: 0 0 -39px 37px;
    box-shadow: 3px 3px 6px 0px #828181;
    display: none;
}
.offer__tooltip .icon-triangle {
    position: absolute;
    left: -11px;
    bottom: 20px;
    width: 11px;
    height: 21px;
    background: url('../images/tooltip-point.png');
}
.offer__tooltip-block {
    float: left;
    width: 109px;
    height: 100%;
    text-align: center;
    padding-right: 10px;
    margin-right: 10px;
    box-sizing: content-box;
    border-right: 2px solid #828285;
}
.offer__tooltip-block .offer__summer {
    margin-top: 0;
}
.offer__tooltip div:last-of-type {
    padding-right: 0px;
    margin-right: 0px;
    border: none;
}
.tooltip__price {
    font-size: 24px;
    font-weight: bold;
}
.tooltip__symbol {
    font-size: 11px;
    margin-top: -7px;
    display: inline-block;
    vertical-align: middle;
}


/* RIGHT CONTAINER */
.offers__right-container {
    padding: 0 !important;
    overflow: auto;
    height: calc(100% - 120px);
}
.right-block {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #c0c0c0;
    padding: 20px;
    background: #fff;
}
.right-block--fixed {
    position: fixed !important;
    right: 0;
    top: 61px;
    margin-top: 0;
}
.right-block__title {
    font-size: 24px;
    margin: 0 0 25px 0;
    color: #6c6f70;
    font-weight: 400;
}
.autorenewal-language__text {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
}
#agent-script {
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
}
.right-block__title--border {
    border-bottom: 2px solid #dc291e;
    padding-bottom: 9px;
}


/* HELPERS */
.clearfix {
    width: 100%;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.price-error {
    color: #dc291e;
    font-size: 11px;
    display: block;
    clear: both;
    margin: 5px 0;
}
.center {
    max-width: 1200px;
}
.align-right {
    float: right;
}
.align-left {
    float: left;
}
.text-bold {
    font-weight: 700;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    display: block;
    text-align: center;
}
.text-right {
    display: block;
    text-align: right;
}
.red-link {
    color: #dc291e;
    font-weight: 700;
    text-decoration: none;
}
.display-table {
    width: 100%;
    display: table;
    height: 80px;
    margin: 0 auto;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}




/* DRAG AND DROP */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    /*opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);*/
    box-shadow: 0px 1px 7px 1px #b8b8b8;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.offers__list-item .tag {
    background-color: red;
    color: white;
    padding: 4px 4px 4px 25px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    width: 160px;
    left: -10px;
    top: -12px;
}

.offers__list-item .tag .icon{
    margin-left: -19px;
    margin-right: 3px;
}

.offers__list-item .tag .decor-left-arrow {
    position: absolute;
    left: 0;
    top: 22px;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
}

.offers__list-item .tag .decor-right-arrow {
    position: absolute;
    right: -6px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 24px solid transparent;
}

.offers__list-item .tag.NOTICE, .offers__list-item .tag.RENEWAL  {
    background-color: #4e7cd9;
}

.offers__list-item .tag.NOTICE .decor-left-arrow, .offers__list-item .tag.RENEWAL .decor-left-arrow {
    border-right: 10px solid #003192;
}

.offers__list-item .tag.NOTICE .decor-right-arrow, .offers__list-item .tag.RENEWAL .decor-right-arrow {
    border-left: 7px solid #4e7cd9;
}

.offers__list-item .tag.NOTICE.AUTORENEWAL {
    background-color: #f946a1;
}

.offers__list-item .tag.NOTICE.AUTORENEWAL .decor-left-arrow {
    border-right: 10px solid #8a074c;
}

.offers__list-item .tag.NOTICE.AUTORENEWAL .decor-right-arrow {
    border-left: 7px solid #f946a1;
}

.offers__list-item .tag.SPECIALOFFERS {
    background-color: #baba02;
}

.offers__list-item .tag.SPECIALOFFERS .decor-left-arrow {
    border-right: 10px solid #4e4e01;
}

.offers__list-item .tag.SPECIALOFFERS .decor-right-arrow {
    border-left: 7px solid #baba02;
}

.offers__list-item .tag.COMMUNITY {
    background-color: #10a8ba;
}

.offers__list-item .tag.COMMUNITY .decor-left-arrow {
    border-right: 10px solid #014b53;
}

.offers__list-item .tag.COMMUNITY .decor-right-arrow {
    border-left: 7px solid #10a8ba;
}

.offers__list-item .tag.MANAGER {
    background-color: #52b67a;
}

.offers__list-item .tag.MANAGER .decor-left-arrow {
    border-right: 10px solid #127439;
}

.offers__list-item .tag.MANAGER .decor-right-arrow {
    border-left: 7px solid #52b67a;
}

.offers__list-item .tag.RECOMMENDED {
    background-color: #f99705;
}

.offers__list-item .tag.MANAGER .decor-left-arrow {
    border-right: 10px solid #744b0e;
}

.offers__list-item .tag.MANAGER .decor-right-arrow {
    border-left: 7px solid #f99705;
}


/* Helpers */
.no-left-padding {
    padding-left: 0 !important;
}

.margin-left-3 {
    margin-left: 3px !important;
}