<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Featured Offers For Your Service Area | AEP Energy</title>

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <meta name="keywords" content="AEP Energy">
  <meta name="description" content="AEP Energy makes it easy for customers to buy, manage and use energy. A competitive supplier of power since 2004, AEP Energy combines an individualized, consultative approach with the resources of a Fortune 200 company. Nationally, AEP Energy provides solutions to increase efficiency and take control of costs.">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/grid.min.css">
  <link rel="stylesheet" href="css/transition.min.css">
  <link rel="stylesheet" href="css/popup.min.css">
  <link rel="stylesheet" href="css/checkbox.min.css">
  <link rel="stylesheet" href="css/aep.css">
</head>

<body>
<div id="offers" class="offers" v-cloak>
  <validator name="validation">
    <form novalidate id="offers__form" class="ui grid offers__form" method="post">

      <!--======== OFFERS HEADER ========-->
      <header class="sixteen wide column offers__header offers__header--margin">
          <div class="offers__header-bottom offers__header-bottom--fixed">
            <div>
              <img width="140" src="images/aepe-logo.png" alt="AEP Logo" class="aep-logo">

              <input type="hidden" name="_page" value="0">
              <input type="hidden" name="campaignAndOfferForm.offerIndex" v-model="selectedOffer.offerCode" v-validate:offer-index="{required: true}">
              <input type="hidden" name="campaignAndOfferForm.campaignIndex" v-model="selectedOffer.campaignCode" v-validate:campaign-index="{required: true}">
              <input type="hidden" name="campaignAndOfferForm.radioElectricity" value="r">
              <input type="hidden" name="_target1" value="RS_IN_PROGRESS">

            <!--======== SELECTED OFFER ========-->
            <div class="ui grid align-right offer__selected" v-if="selectedOffer">
                <span class="three wide column">
                  <span class="icon icon-electric icon-electric--big"></span>
                </span>
                <span class="seven wide column">
                  <span class="offer__selected-title">
                    Your Electric Plan
                  </span>
                <span class="text-bold margin-left-3">
                    <b v-show="selectedOffer.termBundle.summaryType=='date'">Until </b>
                    {{selectedOffer.termBundle.summary}}
                  </span>
                <span v-show="selectedOffer.termBundle.summaryType=='month'">
                  month<span v-show="selectedOffer.termBundle.summary!=='1'">s</span>
                </span>
                </span>
                <span class="five wide column">
                  <span class="text-bold offer__selected-price">
                    <template v-if="selectedOffer.termBundle.terms[0].symbol=='%'">
                      {{selectedOffer.termBundle.terms[0].value | limit-digits-percentage}}
                    </template>
                   <template v-else>
                     {{selectedOffer.termBundle.terms[0].value | limit-digits-price}}
                   </template>
                  </span>
                <span class="text-bold">
                    {{{selectedOffer.termBundle.terms[0].symbol}}}
                  </span><br>
                <span class="offer__selected-price-text"
                      v-show="selectedOffer.termBundle.terms[0].language!==null && selectedOffer.termBundle.terms[0].language!==''">
                    {{selectedOffer.termBundle.terms[0].language}}
                  </span>
                </span>
                <span class="icon icon-delete-icon offer__selected-clean"
                      v-show="selectedOffer !== ''"
                      @click="selectedOffer = ''">
                </span>
            </div>
          </div>
        </div>
      </header>


      <!--======== OFFERS MENU ========-->
      <section class="sixteen wide column offers__menu">
        <a href="${pageContext.request.contextPath}/acustomer/incentivesRenewal.html?accountId=${command.accountProductView.criteria}"
           class="align-right red-link offers__incentives-link"
           v-if="!error">
          Incentives
        </a>

        <a href="${pageContext.request.contextPath}/management/retentionAgreement.html?accountId=${command.accountProductView.criteria}&actionType=${command.actionType}&fromAvailablePage=Y"
           class="aep-btn aep-btn--white aep-btn--rounded text-uppercase align-right offers__retention-offers-btn"
           v-if="!error">Retention offers</a>
      </section>


        <!--======== OFFERS FILTERS CLONE ========-->
        <div class="offers__filters-clone"
             :class="{'is-closed':!filtersHidden}">
          <button class="icon icon-filter-expand offers__filters-switch"
                  @click.prevent="filtersHidden=!filtersHidden">
          </button>
        </div>

        <!--======== OFFERS FILTERS ========-->
        <aside class="two wide column offers__filters"
               :class="{'is-closed':filtersHidden}">
          <header class="offers__filters-header text-uppercase">
            <button class="icon icon-filter-collapse offers__filters-switch"
                    @click.prevent="filtersHidden=!filtersHidden">
            </button>
            <h2 class="text-bold offers__filters-title">Filters</h2>
          </header>

          <div class="filter-component"
               v-if="termFilters.length > 0">
            <h3 class="text-uppercase">Term</h3>
            <ul class="no-left-padding">
              <li v-for="(key, value) in termFilters | orderBy 'value'"
                  track-by="$index"
                  class="ui checkbox">
                <label>
                  {{value}} Month<span v-if="value != 1">s</span>
                </label>
                <input type="checkbox"
                       v-model="selectedTermFilter"
                       value="{{value}}">
              </li>
            </ul>
          </div>

          <!--======== FILTER COMPONENT ========-->
          <div class="c-filter" v-if="programTypeFilters.length>0">
            <h3 class="c-filter__title text-uppercase">Program Type</h3>
            <div v-for="filter in programTypeFilters | orderBy 'completedName'"
                  class="ui checkbox c-filter__row">
              <label class="c-filter__name">{{filter.completedName}}</label>
              <input type="checkbox"
                    class="c-filter__check"
                    v-model="programTypeSearch"
                    v-bind:value="filter">
            </div>
          </div>

          <!--======== FILTER COMPONENT ========-->
          <div class="c-filter">
            <h3 class="c-filter__title text-uppercase">Price <span class="c-filter__title--small">(&cent; per kWh)</span></h3>

            <div class="c-filter__price-block">
              <span class="text-uppercase c-filter__subtitle">From</span>
              <input type="text"
                     placeholder="0.00"
                     maxlength="6"
                     class="c-filter__price"
                     :class="{'c-filter__price--border':
                                  parseFloat(priceFilterSearch.from) > parseFloat(priceFilterSearch.to)
                             }"
                     v-model="priceFilterSearch.from | format-number">
            </div>
            <div class="c-filter__price-block">
              <span class="text-uppercase c-filter__subtitle">To</span>
              <input type="text"
                    placeholder="0.00"
                    maxlength="6"
                    class="c-filter__price"
                    v-model="priceFilterSearch.to | format-number">
            </div>
            <div class="clearfix"></div>

            <div class="price-error" v-show="parseFloat(priceFilterSearch.from) > parseFloat(priceFilterSearch.to)">FROM value should be lower than TO value</div>

            <div class="clearfix"></div>
          </div>

        </aside>


        <!--======== OFFERS LIST ========-->
        <section class="eleven wide column offers__list-container"
                  :class="{'offers__list-container--bigger':filtersHidden}">
          <header class="ui grid offers__list-header">
            <a href="#" class="red-link offers__back-link">
              <span class="icon icon-arrow-prev"></span> Back to Customer Search
            </a>
            <div class="clearfix"></div>


          <!--======== ERROR MESSAGE: NO OFFERS ========-->
          <div v-if="offers.length===0 && !error"
               class="sixteen wide column offers__error-message">
            <div class="text-center error__icon">
              <div class="display-table">
                <div class="display-table-cell">
                  <span class="icon icon-alert-icon"></span>
                </div>
              </div>
            </div>
            We're sorry, the information you requested is not available. Please check back again in one hour. Click <a href="${pageContext.request.contextPath}/secure/mainMenu.html?accountId=${command.accountProductView.criteria}">here</a> to go back to your Account Management home page.
          </div>

          <div v-if="offers.length===0 && !error"
               class="text-center offers__error-message--big">
            No Offers to Display
          </div>


          <!--======== ERROR MESSAGE: SERVER ERROR ========-->
          <div v-if="error"
               class="sixteen wide column offers__error-message">
            <div class="text-center error__icon">
              <div class="display-table">
                <div class="display-table-cell">
                  <span class="icon icon-alert-icon"></span>
                </div>
              </div>
            </div>
            We are currently experiencing a technical issue and are working quickly to resolve it. We apologize for any inconvenience. Please return to our homepage and try to complete your enrollment later or call Customer Care at 866-258-3782.
          </div>

          <!--======== ERROR MESSAGE: NOTICE ERROR ========-->
          <div v-if="noticeFailed && !error"
               class="sixteen wide column offers__error-message">
            <div class="text-center error__icon">
              <div class="display-table">
                <div class="display-table-cell">
                  <span class="icon icon-alert-icon"></span>
                </div>
              </div>
            </div>
            We are currently experiencing a technical issue and we can not retrieve the offers sent to the customer in the renewal notice. We are working quickly to resolve it. We apologize for any inconvenience. Please return to our homepage and try again.
          </div>


          <!--======== LIST OF FILTERS APPLIED ========-->
          <aside class="sixteen wide column c-filters-applied"
                 v-show="programTypeSearch.length > 0 || selectedTermFilter.length > 0|| priceFilterSearch.from !== '' || priceFilterSearch.to !== ''">
            <div>
              <h2 class="text-uppercase c-filters-applied__title">Selected Filters</h2>

              <span v-for="filter in selectedTermFilter"
                    class="c-filters-applied__tag">
                {{ filter }} Month<span v-if="filter != 1">s</span>
                <span @click="removeTermFilter(filter)"
                      class="icon icon-delete-icon c-filters-applied__remove"></span>
              </span><span v-for="filter in programTypeSearch"
                    class="c-filters-applied__tag">
                {{filter.completedName}}
                <span @click="removeFilter(filter)"
                      class="icon icon-delete-icon c-filters-applied__remove"></span>
              </span><span v-show="priceFilterSearch.from!==''" class="c-filters-applied__tag">
                From: {{priceFilterSearch.from}}
                <span @click="priceFilterSearch.from=''"
                      class="icon icon-delete-icon c-filters-applied__remove"></span>
              </span><span v-show="priceFilterSearch.to!==''" class="c-filters-applied__tag">
                To: {{priceFilterSearch.to}}
                <span @click="priceFilterSearch.to=''"
                      class="icon icon-delete-icon c-filters-applied__remove"></span>
              </span>

              <span @click="clearFilters()"
                    class="red-link c-filters-applied__clear-all">
                Clear all
              </span>
            </div>
          </aside>


          <!--======== OFFERS TITLES ========-->
          <template v-if="offers.length>0 && !error">
            <span class="five wide column text-bold text-uppercase offers__main-title">
              <span class="icon icon-electric"></span>
            <span>Electric</span>
            </span>
            <span class="two wide column text-center text-bold offers__title">
              Terms
            </span>
            <span class="two wide column text-center text-bold offers__title">
              ETF
            </span>
            <span class="three wide column text-center text-bold offers__title">
              Price
            </span>
            <span class="one wide column text-center text-bold offers__title">
              <!--Benefit-->
            </span>
            <span class="three wide column text-center text-bold offers__title">
            </span>
          </template>
        </header>

        <!--======== OFFERS ========-->
        <ul class="offers__list-items"
            v-if="offers.length>0 && !error"
            v-dragula="colOne"
            bag="first-bag">
            <li
              v-for="offer in offers | filterBy programTypeFilter in 'tags' | filterBy termsFilter in 'termBundle.filter' | filterBy priceFilter in 'offer.termBundle.terms[0].value'"
              class="ui grid offers__list-item"
              :class="{
                'offers__list-item--selected':(selectedOffer.offerId==offer.offerId),
                'withTag': verifyTag(offer.tags[0])
              }">
              <span
                class="offer__green"
                :class="{ 'offer__green--true':offer.green, 'offer__green--false':!offer.green }">
              </span>

            <!--======== TITLE COLUMN ========-->
            <div class="five wide column">
              <div class="tag {{ offer.tags[0] }} {{ offer.tags[1] }}"
                   v-if="verifyTag(offer.tags[0])">
                <i class="icon {{ parseOfferIcon(offer.tags) }}"></i>
                {{ parseOfferName(offer.tags) }}
                <div class="decor-left-arrow"></div>
                <div class="decor-right-arrow"></div>
              </div>

              <span class="icon icon-green-icon"
                    v-if="offer.green">
              </span>
              <div class="offer__title text-bold"
                   :class="{ 'offer__title--padding':offer.green}"
                   title="{{offer.title}}">
                {{offer.title}}
              </div>

              <span class="offer__subtitle"
                    :class="{ 'offer__subtitle--padding':offer.green}"
                    title="{{offer.offerCode}}">
                {{offer.offerCode}}
              </span>

              <span class="offer__more-details"
                    @click="offer.open=!offer.open">
                <span v-if="offer.open">Hide </span>
                <span v-if="!offer.open">View more </span> details
                <span v-if="offer.open"
                      class="icon icon-arrow-detail-collapse"></span>
                <span v-if="!offer.open"
                      class="icon icon-arrow-detail-expand"></span>
              </span>
            </div>
            <!--======== TERM COLUMN ========-->
            <div class="two wide column">
              <div class="display-table">
                <div class="display-table-cell">
                  <span class="offer__terms text-center small-terms"
                        v-if="offer.termBundle.summaryType==='date'">until</span>
                  <span class="offer__terms text-center"
                        :class="{ 'small-terms': offer.termBundle.summaryType==='date' }" >
                    {{offer.termBundle.summary}}
                  </span>
                  <span class="offer__terms-text text-center"
                        v-if="offer.termBundle.summaryType==='month'">
                    Month<span v-if="offer.termBundle.summaryType!=='1'">s</span>
                  </span>
                </div>
              </div>
            </div>
            <!--======== ETF COLUMN ========-->
            <div class="offer__etf two wide column text-center">
              <div class="display-table">
                <div class="display-table-cell">
                  <span class="offer__etf-symbol">
                    {{offer.etf.symbol}}
                  </span>
                  <span class="text-bold  text-uppercase"
                        :class="{ 'offer__etf--gray':offer.etf.value.toLowerCase()==='no' }">
                    {{offer.etf.value | limit-digits-etf}}
                  </span>
                  <span class="offer__etf-text"
                        :class="{ 'offer__etf--gray':offer.etf.value.toLowerCase()==='no' }">
                    {{offer.etf.description}}
                  </span>
                </div>
              </div>
            </div>
            <!--======== PRICE COLUMN ========-->
            <div class="three wide column">
              <div class="display-table">
                <div class="display-table-cell">
                  <span class="offer__summer text-center"
                        :class="{ 'offer__summer--true':offer.termBundle.terms[0].summer===2 }"
                        v-offer-terms-summer="offer.termBundle.terms[0].summer">
                  </span>
                  <!--======== OFFER PRICE START ========-->
                  <span class="offer__price text-bold text-center">
                    <template v-if="offer.termBundle.terms[0].symbol=='%'">
                     {{offer.termBundle.terms[0].value | limit-digits-percentage}}
                    </template>
                    <template v-else>
                     {{offer.termBundle.terms[0].value | limit-digits-price}}
                    </template>
                    <span class="offer__price-symbol">
                      {{{offer.termBundle.terms[0].symbol}}}
                    </span>
                  </span>
                  <span class="offer__price-text text-center"
                        v-if="offer.termBundle.terms[0].measure!==null && offer.termBundle.terms[0].measure!=='' && offer.termBundle.terms[0].symbol!=='%'">
                    {{offer.termBundle.terms[0].language}}
                  </span>
                  <div class="text-center">
                    <span class="offer__price-text"
                          v-if="offer.termBundle.terms[0].type==='month'">
                      <span class="text-center offer__price-text"
                            v-if="offer.termBundle.terms[0].symbol=='%'">
                       {{offer.termBundle.terms[0].language}} <br>
                      </span> for
                      <span class="offer__price-text"
                            v-if="offer.termBundle.terms.length > 1">first
                      </span> {{offer.termBundle.terms[0].term}} month<span v-if="offer.termBundle.terms[0].term!=='1'">s</span>
                    </span>
                    <template v-else>
                      <span class="text-center offer__price-text"
                            v-if="offer.termBundle.terms[0].symbol=='%'">
                        {{offer.termBundle.terms[0].language}}
                      </span>
                      <span class="offer__price-text" >
                        until {{offer.termBundle.terms[0].term}}
                      </span>
                    </template>


                    <!--======== TOOLTIP ========-->
                    <div class="icon icon-benefit-info-tooltip-1 offer__info"
                         v-if="offer.termBundle.terms.length>1"
                         data-id="{{$index}}"
                         id="offer__info-{{$index}}">
                      <div class="offer__tooltip"
                           id="offer__tooltip-{{$index}}"
                           v-if="offer.termBundle.terms.length>1"
                           :style="{width: 10 + 130 * offer.termBundle.terms.length + 'px' }">
                        <span class="icon icon-triangle"></span>

                        <div v-for="term in offer.termBundle.terms"
                             class="offer__tooltip-block">
                          <span v-offer-terms-summer="term.summer"
                                  class="offer__summer"
                                  :class="{ 'offer__summer--true':term.summer===2 }">
                          </span><br>
                            <span>
                            <span class="tooltip__price">
                              <template v-if="term.symbol=='%'">
                                {{term.value | limit-digits-percentage}}
                              </template>
                             <template v-else>
                               {{term.value | limit-digits-price}}
                             </template>
                            </span>
                            <span class="tooltip__symbol">
                            {{{term.symbol}}}
                          </span>
                            </span>
                            <span class="offer__price-text text-center"
                                  v-if="term.measure!==null && term.measure!=='' && term.symbol!=='%'">
                            {{term.language}}
                          </span>
                            <span class="text-center"
                                  v-if="term.type==='month'">
                              <span class="offer__price-text">
                                <span class="text-center offer__price-text"
                                      v-if="term.symbol=='%'">
                                  {{term.language}} <br>
                                </span> for
                              <span v-if="offer.termBundle.terms.length > 1 && $index==0">first</span>
                              <span v-if="offer.termBundle.terms.length > 2 && $index==1">next</span>
                              <span v-if="offer.termBundle.terms.length == 2 && $index==1 || offer.termBundle.terms.length > 2 && $index==2">remaining</span>
                                 {{term.term}} month<span v-if="offer.termBundle.terms[$index].term!=='1'">s</span>
                              </span>
                            </span>
                            <span class="text-center"
                                  v-else>
                              <span class="offer__price-text">
                                <span class="text-center offer__price-text"
                                      v-if="term.symbol=='%'">
                                  {{term.language}} <br>
                                </span> until {{term.term}}
                              </span>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--======== OFFER PRICE END========-->
                </div>
              </div>
            </div>

            <!--======== BENEFITS COLUMN ========-->
            <ul class="offer__benefits one wide column text-center">
            </ul>
            <!--======== BUTTONS COLUMN ========-->
            <div class="three wide column text-right">
              <div class="display-table">
                <div class="display-table-cell">
                  <button class="aep-btn aep-btn--rounded text-uppercase aep-btn--red offer__btn"
                          :class="{ 'offer__btn--selected':selectedOffer.offerId===offer.offerId }"
                          @click.prevent="selectOffer(offer)">
                    <span v-show="(selectedOffer.offerId===offer.offerId)">Remove</span>
                    <span v-show="(selectedOffer.offerId!==offer.offerId)">Order</span>
                  </button>
                </div>
              </div>
            </div>

            <!--======== OFFER DETAILS START ========-->
            <div class="sixteen wide column">
              <div class="ui grid offer-details"
                   :class="{'offer-details--open':offer.open}">
                <!--======== DETAILS FIRST ROW ========-->
                <template v-for="term in offer.termBundle.terms" >
                  <div class="sixteen column row offer-details__row"
                       :class="{ 'offer-details__row--border':$index===1 || $index === 0 }"
                       v-if="$index === 0 && offer.termBundle.terms.length===1">
                    <div class="four wide column">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <span class="offer-details__title">Campaign code</span>
                          <span class="offer-details__text">{{offer.campaignCode}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="two wide column"></div>
                    <div class="three wide column"></div>
                    <div class="three wide column"></div>
                    <div class="one wide column"></div>
                    <div class="three wide column"></div>
                  </div>
                  <div class="sixteen column row offer-details__row"
                       :class="{ 'offer-details__row--border':$index===1 }"
                       v-if="$index > 0 && offer.termBundle.terms.length!=1">
                    <div class="four wide column">
                      <div class="display-table">
                        <div class="display-table-cell">
                          <span v-show="$index===1"
                                class="offer-details__title">
                            Campaign code
                          </span>
                          <span v-show="$index===1"
                                class="offer-details__text">
                            {{offer.campaignCode}}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="two wide column"></div>
                    <div class="three wide column"></div>
                    <!--======== DETAILS TERMS ========-->
                    <div class="three wide column">
                      <span class="offer__price text-bold text-center">
                        <template v-if="term.symbol=='%'">
                          {{term.value | limit-digits-percentage}}
                        </template>
                        <template v-else>
                          {{term.value | limit-digits-price}}
                        </template>
                        <span class="offer__price-symbol">
                          {{{term.symbol}}}
                        </span>
                      </span>
                      <span class="offer__price-text text-center"
                            v-if="term.measure!==null && term.measure!=='' && term.symbol!=='%'">
                        {{term.language}}
                      </span>
                      <span class="text-center"
                            v-if="term.type==='month'">
                        <span class="offer__price-text">
                          <span class="text-center offer__price-text"
                                v-if="term.symbol=='%'">
                            {{term.language}} <br>
                          </span> for
                        <span v-if="offer.termBundle.terms.length > 1 && $index==0">first</span>
                        <span v-if="offer.termBundle.terms.length > 2 && $index==1">next</span>
                        <span v-if="offer.termBundle.terms.length == 2 && $index==1 || offer.termBundle.terms.length > 2 && $index==2">
                          remaining
                        </span>
                           {{term.term}} month<span v-if="offer.termBundle.terms[$index].term!=='1'">s</span>
                        </span>
                      </span>
                      <span class="text-center"
                            v-else>
                        <span class="offer__price-text">
                          <span class="text-center offer__price-text"
                                v-if="term.symbol=='%'">
                            {{term.language}} <br>
                          </span> until {{term.term}}
                        </span>
                      </span>
                    </div>
                    <div class="one wide column"></div>
                    <div class="three wide column"></div>
                  </div>
                </template>

                <!--======== DETAILS SECOND ROW ========-->
                <div class="seven column row offer-details__row offer-details__row--border">
                  <div class="one column">
                    <span class="offer-details__title">Rate type</span>
                    <span class="offer-details__text">{{offer.rateType}}</span>
                  </div>
                  <div class="one column"></div>
                  <div class="one column">
                    <span class="offer-details__title">Affinity Partner</span>
                    <span class="offer-details__text">
                      {{offer.affinityPartnerName}}
                    </span>
                  </div>
                  <div class="one column"></div>
                  <div class="one column">
                    <span class="offer-details__title">Green type</span>
                    <span class="offer-details__text">{{offer.greenType}}</span>
                  </div>
                  <div class="one column"></div>
                  <div class="one column text-center">
                    <span class="offer-details__title">Green %</span>
                    <span class="offer-details__text">{{offer.greenPercentage}}</span>
                  </div>
                </div>

                <!--======== DETAILS LINKS ========-->
                <div class="sixteen column row offer-details__row offer-details__row--border">
                  <div class="ten wide column"
                       v-if="!offer.green">
                    <span class="icon icon-file-icon"></span>
                    <a href="${pageContext.request.contextPath}/enrollment/massMarketAgreement.html?download=true&file={{offer.contractFilePath}}&contractSourceType={{offer.contractSourceType}}"
                       class="red-link offer-details__link">
                      View full terms and conditions
                    </a>
                  </div>
                  <div class="ten wide column"
                       v-if="offer.green">
                    <span class="icon icon-file-icon"></span>
                    <a href="${pageContext.request.contextPath}/enrollment/massMarketAgreement.html?download=true&file={{offer.contractFilePath}}&contractSourceType={{offer.contractSourceType}}"
                       class="red-link offer-details__link">
                      View full price, terms & conditions, and product content label
                    </a>
                  </div>
                  <div class="six wide column"
                       v-if="offer.marketingCollateralFilePath!== null">
                    <span class="icon icon-file-icon"></span>
                    <a href="${pageContext.request.contextPath}/enrollment/massMarketCollateral.html?download=true&file={{offer.marketingCollateralFilePath}}"
                       class="red-link offer-details__link">
                      View marketing collateral
                    </a>
                  </div>

                </div>
              </div>
            </div>
            <!--======== OFFER DETAILS END ========-->

          </li>
        </ul>

        <div class="clearfix"></div>
        <a href="${pageContext.request.contextPath}/internal/customerSearchCriteria.html"
           class="red-link offers__back-link red-link">
          <span class="icon icon-arrow-prev"></span> Back to Customer Search
        </a>
      </section>


      <div class="three wide column offers__right-container">
        <!--======== AUTORENEWAL LANGUAGE ========-->
        <div id="autorenewal-language-container"
             class="right-block"
             v-if="autorenewalLanguage!=='' && autorenewalLanguage!==null && !error && offers.length > 0">
          <h2 class="text-center right-block__title">Autorenewal language</h2>
          <div class="text-justify autorenewal-language__text">
            {{{autorenewalLanguage}}}
          </div>
        </div>


        <!--======== AGENT SCRIPT ========-->
        <div class="right-block"
             id="agent-script-container"
             v-show="!error && offers.length > 0">
          <h2 class="text-center right-block__title right-block__title--border">
            <span class="icon icon-agent-icon"></span>
            Agent Script
          </h2>
          <iframe id="agent-script" ></iframe>
        </div>
      </div>


      <!--======== OFFERS FOOTER ========-->
      <footer class="offers__footer">
        <a href="${pageContext.request.contextPath}/secure/mainMenu.html"
           class="aep-btn aep-btn--red text-uppercase offers__btn-prev">
          <span class="rotated-block"></span>
          <span class="icon icon-arrow-prev-wizard"></span> Back to Home
        </a>
        <button type="submit"
                id="nextStep"
                name="nextStep"
                :class="{'offers__btn-next--disabled':!$validation.valid}"
                :disabled="!$validation.valid"
                class="aep-btn aep-btn--red text-uppercase align-right offers__btn-next">
          <span class="rotated-block"></span>
          Go to step 2
          <span class="icon icon-arrow-next-wizard"></span>
        </button>
      </footer>
    </form>
  </validator>
</div>

      <!--"errors": [
        {
          "code": "ERROR_NOTICE_OFFER",
          "messages": "aaa"
        },
        {
          "code": "ERROR_SPECIAL_OFFER",
          "messages": "bbb"
        },
        {
          "code": "ERROR_RENEWAL_OFFER",
          "messages": "ccc"
        }
      ],-->

  <script>
    var data = [{
        "errors": [
        ],
        "autorenewalLanguage": "<p class=\"autorenewal\">If you choose to accept one of the above renewal offers, the renewal offer will be effective starting with the 10/15/2016 meter read.</p>\r\n<p class=\"autorenewal\">Residential customer agreements automatically renew unless you decline service extension as stated above. If you do not respond by 09/24/2016, you will be auto-renewed on a month-month variable price.</p>\r\n<p class=\"autorenewal\">Auto-renewal on a month-month variable price will not include a termination fee.</p>\r\n<p class=\"autorenewal\">If you choose to decline this agreement, AEP Energy will cancel your supply service on 10/15/2016 at which time you will be seamlessly returned to the utility for both supply and delivery service.</p>",
        "offers": [
          {
            "offerId": 0,
            "title": "ECO-Advantage 100% Renewable Fixed Price Offer",
            "offerCode": "o.hmtlTest.Res.ELEC.2016.9.13.AEP",
            "campaignCode": "OHIO_RL_PRG_IBTM_RL",
            "green": true,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "24",
              "filter": "24",
              "terms": [
                {
                  "utilityName": null,
                  "type": "month",
                  "value": 0.01000,
                  "symbol": "&cent;",
                  "measure": "KWH",
                  "language": "per kWh",
                  "term": "24",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": 0.01000,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": "PCTOR9991",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": "24",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "NOTICE"
            ],
            "utilitys": null,
            "greenType": "Wind",
            "productCode": "FPAI",
            "greenPercentage": "2",
            "billingType": "BT_RR",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0913/201609130231262000002984",
            "subTitle": "Our 100% wind-generated renewable energy certificates price plan",
            "description": "Support environmental sustainability with this renewable option. This plan is an environmentally-friendly alternative to traditional electricity plans and matches 100% of your electricity usage with national, Green-e Energy certified, wind Renewable Energy Certificates (RECs). Your purchase of RECs helps build a market for renewable electricity and helps reduce greenhouse gas emissions. Green-e Energy certifies that ECO-Advantage meets the minimum environmental and consumer protection standards established by the non-profit Center for Resource Solutions. For more information on Green-e Energy certification requirements, call 1-888-63-GREEN or visit <a href=“http://www.green-e.org” target=“_blank”>www.green-e.org</a>.",
            "termType": "By Month",
            "termValue": "24",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": "2016/0912/201609120234519660003623.pdf"
          },
          {
            "offerId": 0,
            "title": "Test QA DEV",
            "offerCode": "Test QA DEV",
            "campaignCode": "test.2016.9.12.Res.Elec.AEP_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "3",
              "filter": "3",
              "terms": [
                {
                  "utilityName": null,
                  "type": "month",
                  "value": 20.000000,
                  "symbol": "&cent;",
                  "measure": "KWH",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 20.000000,
                  "durationMonth": "1",
                  "durationDate": null
                },
                {
                  "utilityName": null,
                  "type": "month",
                  "value": 20.000000,
                  "symbol": "&cent;",
                  "measure": "KWH",
                  "language": "per kWh",
                  "term": "2",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 20.000000,
                  "durationMonth": "2",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "0.12",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "NOTICE"
            ],
            "utilitys": null,
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_DUAL",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "Terms & Conditions Sample Template PA-TEST.pdf",
            "subTitle": "Test QA DEV",
            "description": "",
            "termType": "By Month",
            "termValue": "3",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTLEG_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          },
          {
            "offerId": 0,
            "title": "o.Res.ELEC.2016.9.22.AEP.test",
            "offerCode": "o.Res.ELEC.2016.9.22.AEP.test",
            "campaignCode": "CP.2016.9.22.RES.ELEC.test3_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": true,
            "termBundle": {
              "summaryType": "month",
              "summary": "12",
              "filter": "12",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 0.01000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "12",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": 0.00010,
                  "kWRate": 0.00000,
                  "monthlyRate": 0.00,
                  "rateCode": "PCTOR9999",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": "12",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "12",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "SPECIAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_RR",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0922/201609220551142230002995",
            "subTitle": "",
            "description": "",
            "termType": "By Month",
            "termValue": "12",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": "PROMOYEAHDEV2",
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          },
          {
            "offerId": 0,
            "title": "o.Res.ELEC.2016.9.22.AEP.test",
            "offerCode": "o.Res.ELEC.2016.9.22.AEP.test",
            "campaignCode": "CP.2016.9.22.RES.ELEC.test3_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "12",
              "filter": "12",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 0.01000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "12",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": 0.00010,
                  "kWRate": 0.00000,
                  "monthlyRate": 0.00,
                  "rateCode": "PCTOR9999",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": "12",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "32.45",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_RR",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0922/201609220551142230002995",
            "subTitle": "",
            "description": "",
            "termType": "By Month",
            "termValue": "12",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          },
          {
            "offerId": 0,
            "title": "o.test.2016.9.12.RES.ELEC.AEP",
            "offerCode": "o.test.2016.9.12.RES.ELEC.AEP",
            "campaignCode": "test.2016.9.12.Res.Elec.AEP_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "7",
              "filter": "7",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 0.01000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "7",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": 0.00010,
                  "kWRate": 0.00000,
                  "monthlyRate": 0.00,
                  "rateCode": "PCTOR9999",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": "7",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "0.02",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_RR",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0912/201609120601561070002979",
            "subTitle": "",
            "description": "",
            "termType": "By Month",
            "termValue": "7",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          },
          {
            "offerId": 0,
            "title": "AEP_RL_TEST2",
            "offerCode": "AEP_RL_TEST2",
            "campaignCode": "hmalpica_special_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "date",
              "summary": "09/28/2017",
              "filter": "12",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 50.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "2",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.500000,
                  "durationMonth": "2",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 50.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "5",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.500000,
                  "durationMonth": "5",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 40.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "4",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.400000,
                  "durationMonth": "4",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 10.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.100000,
                  "durationMonth": "1",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "date",
                  "value": 10.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "09/28/2017",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.100000,
                  "durationMonth": null,
                  "durationDate": 1506643200000
                }
              ]
            },
            "etf": {
              "value": "0.23000",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_DUAL",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0902/201609021258109480002975",
            "subTitle": "",
            "description": "",
            "termType": "By End Date",
            "termValue": "2017-09-29 00:00:00.0",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          },
          {
            "offerId": 0,
            "title": "OHIO_RL_DEMO_HEADER",
            "offerCode": "OHIO_RL_DEMO",
            "campaignCode": "hmalpica_special_IBTM_RL",
            "green": true,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "2",
              "filter": "2",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 30.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.300000,
                  "durationMonth": "1",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 40.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.400000,
                  "durationMonth": "1",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "Wind",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_DUAL",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0902/201609021245155800002974",
            "subTitle": "OHIO_RL_SUBHEADER",
            "description": "",
            "termType": "By Month",
            "termValue": "2",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          },
          {
            "offerId": 0,
            "title": "AEP FPCT Test Plan",
            "offerCode": "AEP FPCT Test",
            "campaignCode": "hmalpica_special_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "date",
              "summary": "05/30/2014",
              "filter": "-28",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "date",
                  "value": 9.00,
                  "symbol": "%",
                  "measure": "",
                  "language": "off your utility rate",
                  "term": "05/30/2014",
                  "summer": null,
                  "discountAmount": 0.09,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": "PCTOR0037251",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": null,
                  "durationDate": 1401494400000
                }
              ]
            },
            "etf": {
              "value": "10.000000",
              "symbol": "$",
              "description": "per remaining month in the contract"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPCT",
            "greenPercentage": "0",
            "billingType": "BT_RR",
            "cancellationType": "CT_FEESMONTH",
            "cancellationFee": 10.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "Y",
            "contractFilePath": "Percent Off Test.pdf",
            "subTitle": "",
            "description": "",
            "termType": "By End Date",
            "termValue": "2014-05-31 00:00:00.0",
            "creditCheckFlag": "N",
            "cancellationLanguage": "per remaining month(s)",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTLEG_SOURCE",
            "rateType": "Percent Off",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          },
          {
            "offerId": 0,
            "title": "OHIO_RL_DEMO_HEADER",
            "offerCode": "OHIO_RL_DEMO",
            "campaignCode": "OHIO_RL_PRG_IBTM_RL",
            "green": true,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "2",
              "filter": "2",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 30.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.300000,
                  "durationMonth": "1",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 40.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.400000,
                  "durationMonth": "1",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "Wind",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_DUAL",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0902/201609021245155800002974",
            "subTitle": "OHIO_RL_SUBHEADER",
            "description": "",
            "termType": "By Month",
            "termValue": "2",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": "2016/0912/201609120234519660003623.pdf"
          },
          {
            "offerId": 0,
            "title": "OHIO_AQ_OFFER_01",
            "offerCode": "OHIO_AQ_OFFER_01",
            "campaignCode": "OHIO_RL_PRG_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "1",
              "filter": "1",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 30.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.300000,
                  "durationMonth": "1",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_BR",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0902/201609021101038000002966",
            "subTitle": "",
            "description": "",
            "termType": "By Month",
            "termValue": "1",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": "2016/0912/201609120234519660003623.pdf"
          },
          {
            "offerId": 0,
            "title": "AEP_RL_TEST2",
            "offerCode": "AEP_RL_TEST2",
            "campaignCode": "OHIO_RL_PRG_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "date",
              "summary": "09/28/2017",
              "filter": "12",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 50.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "2",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.500000,
                  "durationMonth": "2",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 50.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "5",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.500000,
                  "durationMonth": "5",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 40.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "4",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.400000,
                  "durationMonth": "4",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 10.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.100000,
                  "durationMonth": "1",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "date",
                  "value": 10.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "09/28/2017",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.100000,
                  "durationMonth": null,
                  "durationDate": 1506643200000
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_DUAL",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0902/201609021258109480002975",
            "subTitle": "",
            "description": "",
            "termType": "By End Date",
            "termValue": "2017-09-29 00:00:00.0",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": "2016/0912/201609120234519660003623.pdf"
          },
          {
            "offerId": 0,
            "title": "OHIO_RL_TEST7",
            "offerCode": "OHIO_RL_TEST7",
            "campaignCode": "OHIO_RL_PRG_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "4",
              "filter": "4",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 7.00,
                  "symbol": "%",
                  "measure": "",
                  "language": "off your utility rate",
                  "term": "1",
                  "summer": null,
                  "discountAmount": 7.00,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": "PCTOR0037151",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": "1",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 5.00,
                  "symbol": "%",
                  "measure": "",
                  "language": "off your utility rate",
                  "term": "3",
                  "summer": null,
                  "discountAmount": 5.00,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": "PCTOR0037001",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": "3",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPCT",
            "greenPercentage": "0",
            "billingType": "BT_RR",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0902/201609020117535540002976",
            "subTitle": "OHIO_RL_TEST7",
            "description": "",
            "termType": "By Month",
            "termValue": "4",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Percent Off",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": "2016/0912/201609120234519660003623.pdf"
          },
          {
            "offerId": 0,
            "title": "HEADDER",
            "offerCode": "OHIO_RL_TEST8",
            "campaignCode": "OHIO_RL_PRG_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "date",
              "summary": "09/01/2017",
              "filter": "12",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "date",
                  "value": 10.00,
                  "symbol": "%",
                  "measure": "",
                  "language": "off your utility rate",
                  "term": "09/01/2017",
                  "summer": null,
                  "discountAmount": 10.00,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": "PCTOR0138251",
                  "ccfRate": null,
                  "basePrice": null,
                  "durationMonth": null,
                  "durationDate": 1504310400000
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPCT",
            "greenPercentage": "0",
            "billingType": "BT_RR",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0902/201609020125251890002977",
            "subTitle": "SUBHEADDER",
            "description": "testDesc",
            "termType": "By End Date",
            "termValue": "2017-09-02 00:00:00.0",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Percent Off",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": "2016/0912/201609120234519660003623.pdf"
          },
          {
            "offerId": 0,
            "title": "CESAR-RL-AEP-TEST-AEP",
            "offerCode": "CESAR-RL-AEP-TEST-AEP",
            "campaignCode": "CESAR-TEST-AEP_IBTM_RL",
            "green": false,
            "commodity": "ELECTRICAL",
            "specialOffer": false,
            "termBundle": {
              "summaryType": "month",
              "summary": "2",
              "filter": "2",
              "terms": [
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 10.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.100000,
                  "durationMonth": "1",
                  "durationDate": null
                },
                {
                  "utilityName": "Ohio Power",
                  "type": "month",
                  "value": 20.000000,
                  "symbol": "&cent;",
                  "measure": "kwh",
                  "language": "per kWh",
                  "term": "1",
                  "summer": null,
                  "discountAmount": null,
                  "kWhRate": null,
                  "kWRate": null,
                  "monthlyRate": null,
                  "rateCode": null,
                  "ccfRate": null,
                  "basePrice": 0.200000,
                  "durationMonth": "1",
                  "durationDate": null
                }
              ]
            },
            "etf": {
              "value": "No",
              "symbol": null,
              "description": "early termination fee"
            },
            "tags": [
              "RENEWAL"
            ],
            "utilitys": [
              "Ohio Power"
            ],
            "greenType": "N/A",
            "productCode": "FPAI",
            "greenPercentage": "0",
            "billingType": "BT_DUAL",
            "cancellationType": null,
            "cancellationFee": 0.000000,
            "changeFee": 0.000000,
            "autoRenewFlag": "N",
            "contractFilePath": "2016/0826/201608260510162870002958",
            "subTitle": "CESAR-RL-AEP-TEST-AEP",
            "description": "",
            "termType": "By Month",
            "termValue": "2",
            "creditCheckFlag": "N",
            "cancellationLanguage": "No Early Termination Fee",
            "territoryCode": "AEP",
            "channel": "IBTM",
            "affinityPartnerName": "N/A",
            "promoCode": null,
            "contractSourceType": "CONTAGR_SOURCE",
            "rateType": "Fixed",
            "open": false,
            "territoryDescription": "AEP",
            "marketingCollateralFilePath": null
          }
        ]
      }
    ];

    // var data = [];
    var agentScript = "";
    var error = false;
  </script>
  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/transition.min.js"></script>
  <script src="js/popup.min.js"></script>
  <script src="js/checkbox.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/vue-dragula.min.js"></script>
  <script src="js/vue-validator.min.js"></script>
  <script src="js/jquery.alphanum.js"></script>
  <script src="js/internal.js"></script>

  <!--<script type="text/javascript" src="http://searls.github.io/jasmine-all/jasmine-all-min.js"></script>
  <script src="js/specs.js"></script>
  <style>
    footer {
      display:none;
    }
    #HTMLReporter {
      position: fixed;
      background: white;
      bottom: 0;
      width: 100%;
    }
  </style>-->

</body>

</html>